* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --aqualime: #99FFCC;
    --pink: #FFCCFF;
}

html {
    min-height: 100vh;
    background: var(--aqualime) top left/5px 5px;
    animation: colorchange 15s infinite;
}

@keyframes colorchange {
    50% {background: var(--pink) bottom right/50px 50px;}
}

header {
    color: white;
    background-color: black;
    margin-bottom: 50px;
    font-family: 'Akronim';
    font-size: 2em;
    min-width: 600px;
}

.tab-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.tab {
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 10px;
}

.tab:hover {
    color: black;
    background-color: var(--aqualime);
    box-shadow: 0px 0px 20px var(--pink);
    cursor: pointer;
}

.active {
    background-image: linear-gradient(#99FFCC, #FFCCFF);
    color: black;
}

body {
    min-height: 100vh;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}


.content {
    display: block;
    border: 5px solid var(--aqualime);
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    min-width: 650px;
}

.content-element {
    border: 5px solid var(--pink);
    border-radius: 10px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-element > img {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    max-width: 550px;
    opacity: 0.8;
    box-shadow: 1px 1px 10px black;
}

.working-time-list {
    list-style-type: none;
}

footer {
    color: white;
    background-color: black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    min-width: 600px;
}


/*menu styling*/
.food-and-drink {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.f-n-d {
    min-width: 300px;
    max-width: 570px;
    height: 600px;
    border: 5px solid var(--aqualime);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.f-n-d > h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.f-n-d > img {
    max-width: 250px;
    margin: auto;
    border: 5px double gray;
    border-radius: 10px;
    transition: box-shadow 1s;
}

.f-n-d > img:hover {
    box-shadow: 1px 1px 20px black;
}

/* contacts styling */

.globe-gif {
    box-shadow: 1px 1px 50px blue;
    transition: box-shadow 2s, transform 2s;
}

.globe-gif:hover {
    box-shadow: 1px 1px 120px gold;
    transform: scale(1.1);
}

i {
    margin-right: 20px;
}

.edited {
    display: flex;
    flex-direction: row;
}

@keyframes fade-in {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.fade-in-effect {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

i.fa-github:hover {
    animation-name: rotate;
    animation-duration: 1s;
}